.App {
  .form {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
      font-size: 1.5em;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .list {
    padding: 0 100px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;

    .box {
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        margin: 0;
      }
      .button {
        display: flex;
        gap: 20px;
      }
    }

    // table{
    //     width: 100%;
    //     tbody{
    //         display: flex;
    //         flex-direction: column;
    //         gap: 10px;

    //         tr{
    //             display: flex;
    //             justify-content: space-around;

    //         }
    //     }
    // }
  }
}
